
@media (max-width: 800px) {
    .section__container{
        justify-content: center;
    }
}

@media (max-width: 500px) {
    .menu-btn{
        display: block;
    }

    .header__nav{
        display: none;
    }
}